.popup__goods.__sending::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100vh;
  z-index: 2001;
  background-color: #000000;
  opacity: 50%;
  pointer-events: all;
}

.pop_up__room {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 682px;
  background-color: #FFFFFF;
  display: -ms-flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2005;
  border-radius: 7px;
}

.pop_up__room.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pop_up__room__header {
  width: 88.5%;
  height: 21px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pop_up__room__header__text {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;
  color: #111111;
  text-align: center;
}

.pop_up__room__header img {
  width: 14.14px;
  height: 14.14px;
  cursor: pointer;
}

.pop_up__room__check {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 88.5%;
  height: 29px;
  border-bottom: 1px solid #E6E6E6;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #727272;
  margin-top: 30px;
  margin-bottom: 21px;
}

.pop_up__room__check__avto {
  height: 100%;
  width: 52px;
  text-align: center;
  cursor: pointer;
}

.pop_up__room__check__reg.active,
.pop_up__room__check__avto.active {
  color: #111111;
  margin-bottom: -1px;
  padding-bottom: 1px;
  border-bottom: 1px solid #111111;
}

.pop_up__room__check__reg {
  height: 100%;
  width: 127px;
  text-align: center;
  margin-left: 26px;
  cursor: pointer;
}

.pop_up__room__form {
  width: 88.5%;
  height: auto;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pop_up__room__form__error,
.pop_up__room__form__text {
  width: 100%;
  height: auto;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
}

.pop_up__room__form__error {
  font-size: 17px;
  line-height: 110%;
  color: #D8151B;
  margin-bottom: 5px;
}

.pop_up__room__form__block {
  width: 100%;
  height: 44px;
  border: 1px solid #727272;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  margin-bottom: 12px;
}

.pop_up__room__form__block.error {
  border: 1px solid #D8151B;
}

.pop_up__room__form__input.error {
  background: #FBF5DF;
}

.pop_up__room__form__input {
  border: none;
  width: 100%;
  height: 100%;
  padding-right: 30px;
  padding-left: 15px;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 110%;
  color: #111111;
  outline: none;
}

input[type=password]::-ms-reveal {
  display: none;
}

.__email {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.pop_up__room__form__block img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  width: 11px;
  height: 11px;
  margin-right: 19px;
  display: none;
  cursor: pointer;
}

.pop_up__room__form__block.error img {
  display: block;
}

.pop_up__room__form__cheked {
  width: 88.5%;
  min-height: 25px;
  word-wrap: break-word;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-left: 25px;
}

.pop_up__room__form__cheked__box {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.pop_up__room__form__cheked__label_mml {
  padding-left: 20px;
}

.pop_up__room__form__cheked__label_mml,
.pop_up__room__form__cheked__label {
  text-align: left;
  word-wrap: break-word;
  width: 100%;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #555555;
}

.pop_up__room__form__cheked__label_mml a,
.pop_up__room__form__cheked__label a {
  border-bottom: 1px solid #555555;
}

.pop_up__room__form__cheked__label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 0;
  margin: auto;
  background: #F8F8F8;
  border: 1px solid #111111;
}

.pop_up__room__form__cheked__box:checked + .pop_up__room__form__cheked__label::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 2px;
  top: 8px;
  left: 5px;
  margin: auto;
  background-color: #111111;
}

.pop_up__room__form__button {
  border: none;
  height: 44px;
  width: 100%;
  background: #242424;
  border-radius: 5px;
  font-family: "FuturaDemiC";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 24px;
}

.pop_up__room__farfeetch {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #111111;
  border-bottom: 1px solid #111111;
  cursor: pointer;
}

.pop_up__room__or {
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #111111;
  margin: 15px 0;
}

.pop_up__room__social {
  width: 88.5%;
  height: 44px;
  border: 1px solid #727272;
  border-radius: 8px;
  background-color: transparent;
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #111111;
  position: relative;
  margin-bottom: 12px;
}

.pop_up__room__social img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto 0;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.block__js {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block__js__main__text_reg {
  width: 88.5%;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 110%;
  color: #555555;
  text-align: left;
  margin-bottom: 15px;
}

.__center {
  text-align: center;
}

.block__js__main__text_reg a {
  border-bottom: 1px solid #555555;
}

.__size {
  font-size: 17px;
}

._dmb {
  margin-bottom: 10px;
}

.__mft {
  margin-top: 33px;
}

.pop_up__room__form__cheked__label a {
  border-bottom: 1px solid #555555;
}

.pop_up__room__form__block.__ezy img {
  display: block;
  width: 21.5px;
  height: 12px;
  pointer-events: all;
}

.pop-email {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #FFFFFF;
  display: -ms-flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2006;
  border-radius: 7px;
}

.pop-email.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__text__password {
  width: 88.5%;
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 25px;
  text-align: center;
  color: #111111;
}

.about__text__password {
  width: 88.5%;
  font-family: "FuturaBookC";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 110%;
  text-align: center;
  color: #555555;
  margin-top: 30px;
  margin-bottom: 20px;
}

.about__text__password__back {
  width: 88.5%;
  font-family: "FuturaMediumC";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #111111;
  cursor: pointer;
}

@media (max-height: 940px) {
  .pop-email,
.pop_up__room {
    bottom: auto;
    margin-top: 25px;
  }
}
@media (max-width: 450px) {
  .about__text__password__back,
.about__text__password,
.main__text__password,
.block__js__main__text_reg,
.pop_up__room__social,
.pop_up__room__form__cheked,
.pop_up__room__form,
.pop_up__room__check,
.pop_up__room__header {
    width: 91.46666667%;
  }

  .pop-email,
.pop_up__room {
    width: 100%;
    border-radius: 0;
  }

  .pop_up__room {
    bottom: auto;
  }
}
@media (max-width: 450px) and (max-height: 450px) {
  .pop-email {
    bottom: auto;
    margin-top: 25px;
  }
}
@media (max-width: 450px) and (max-height: 940px) {
  .pop-email,
.pop_up__room {
    bottom: auto;
    margin-top: 0;
  }
}